/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-image: url('https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d29ya291dHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');
    background-size: cover;
}

div.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(orangered, 10%, white, 80%, orangered) ;
    margin: 0 30%;
    margin-top: 10%;
    padding: 10% 0;
}

.login form {
    display: flex;
    flex-flow: column;
    
}

.login input {
    margin: 2% 0;
}

.login button {
    margin: 0 30%;
    background-color: white;       
    color: orangered;
}

.login button:hover {
    transform: scale(1.1);
} 

div.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(orangered, 10%, white, 80%, orangered) ;
    margin: 0 35%;
    margin-top: 10%;
    padding: 10% 0;
}

.registration form {
    display: flex;
    flex-flow: column;
    width: 35%;
}

.registration input {
    margin: 2% 0;
}

.registration button {
    margin: 0 20%;
    background-color: white;       
    color: orangered;
}

.registration button:hover {
    transform: scale(1.1);
}

.dashboard-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

div.dashboard-info {
    border: 1px solid black;
    padding: 2%;
    width: 40%;
    margin: 2%;
}

.dashboard-info:hover {
    background: linear-gradient(orangered, 10%, white, 80%, orangered) ;
}

.addTitle {
    font-size: 4rem;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1% 0 2% 40%;
    color: orangered;
}

div.addClass {
     display: flex;
     width: 30%;
     height: 60vh;
     padding: 2%;
     margin: auto;
     border: 2px solid black;
     background: linear-gradient(orangered, 10%, white, 80%, orangered) ;
     
}

.addClass form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-flow: column;
    width: 100%;
    
    
}

.addClass label {
    font-size: 1.2rem;
    
}

.addClass input {
    font-size: 0.8rem;
    margin-bottom: 2%;
    
    border-radius: 5px;
    
}

.addClass select {
    margin-bottom: 2%;
}

.addClass button {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 30%;
    margin-bottom: 1%;
    border-radius: 5px;
    background-color: white;       
    color: orangered;
}

.addClass button:hover {
    transform: scale(1.1);
}


.addClass button:last-of-type {
    width: 20%;
}
 
.reservation-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

div.reservation-info {
    border: 1px solid black;
    padding: 2%;
    width: 40%;
    margin: 2%;
}

.reservation-info:hover {
    background: linear-gradient(orangered, 10%, white, 80%, orangered) ;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 15%;

}

.onBoarding {
    display: flex;
    align-content: center;
    background: linear-gradient(orangered, 10%, white, 80%, orangered) ;
    font-size: 2rem;
    margin: 0 30%;
    margin-top: 10%;
    padding: 2%;
}

.onBoarding h3 {
    font-size: 4rem;
    margin: 2% 0 2% 10%;
}

.onBoarding p {
    display:flex;
    justify-content: center;
    margin-bottom: 2%;
}

.onBoarding  button {
    margin-left:45%;
    border-radius: 5px;
    color:orangered;
    background-color: white;
}